-# Navbar
%nav.w-full.p-4.bg-gray-800.bottom-0.z-50.absolute.opacity-25.shadow#navbar{ data: { controller: "navbar"}}
  .hidden{ data: { "target": "navbar.initialOffset"}}
  .mb-px.flex.justify-center
    %a.no-underline.text-teal-dark.border-b-2.border-teal-dark.uppercase.tracking-wide.font-bold.text-xs.py-3.mr-8{:href => "#"}
      Home
    %a.no-underline.text-grey-dark.border-b-2.border-transparent.uppercase.tracking-wide.font-bold.text-xs.py-3.mr-8{:href => "#"}
      Products
    %a.no-underline.text-grey-dark.border-b-2.border-transparent.uppercase.tracking-wide.font-bold.text-xs.py-3.mr-8{:href => "#"}
      Discounts
    %a.no-underline.text-grey-dark.border-b-2.border-transparent.uppercase.tracking-wide.font-bold.text-xs.py-3{:href => "#"}
      Customers

-# Cover
.flex.justify-center.items-center.w-full.h-screen.bg-no-repeat.bg-cover{ style: "background-image: url('https://placekitten.com/1200/800')"}
  %h1.text-6xl.font-bold.text-white="Hermann & Samantha"

-# Blocks
.p-40.flex.justify-center.bg-pink-100
  %div{ class: "w-2/3 flex rounded-md overflow-hidden flex-wrap "}
    %div{ class: "w-1/2 flex-shrink-0 "}
      = image_tag 'https://placekitten.com/400/400', class: "w-full"
    %div{ class: "w-1/2 flex-shrink-0 p-4 bg-gray-100 flex flex-col justify-center"}
      %h1.text-xl="The Groom"
      %p
        Brian Ketelsen was born in Iowa, but spent most of his childhood in Wyoming. He served in the US Army as a M2 Bradley gunner, then attended college in Wyoming, later attending Harvard. He currently works at Microsoft.
    %div{ class: "w-1/2 flex-shrink-0 p-4 bg-gray-100 flex flex-col justify-center"}
      %h1.text-xl="The Groom"
      %p
        Brian Ketelsen was born in Iowa, but spent most of his childhood in Wyoming. He served in the US Army as a M2 Bradley gunner, then attended college in Wyoming, later attending Harvard. He currently works at Microsoft.
    %div{ class: "w-1/2 flex-shrink-0 "}
      = image_tag 'https://placekitten.com/400/400', class: "w-full"

-# Timer
.w-full.flex.relative#timer-section.py-40.justify-center
  = react_component('confetti', props: {}, html_class: '')
  #clockdiv{ data: { controller: "countdown" }}
    %div
      %span.days{ data: { target: "countdown.days" }}
      .smalltext Days
    %div
      %span.hours{ data: { target: "countdown.hours" }}
      .smalltext Hours
    %div
      %span.minutes{ data: { target: "countdown.minutes" }}
      .smalltext Minutes
    %div
      %span.seconds{ data: { target: "countdown.seconds" }}
      .smalltext Seconds

-# Video
.w-full.p-4.flex.justify-center.py-40
  = get_video_iframe("https://www.youtube.com/watch?v=vDiFSzQEMOs")


-# -# Invite Management
.w-full.flex.py-20.bg-gray-100.justify-center
  %div{ class: "flex flex-col w-2/3"}
    .flex.w-full.pt-2.pb-12.justify-center
      %h2.text-4xl.font-bold="Your party"
    %section{ class: "w-2/3 shadow bg-white w-full", data: { controller: "accordion" }}
      %article.border-b{data: { target: "accordion.item", action: "click->accordion#toggleItem", member_id: 1 }}
        .border-l-2.border-transparent
          %header.flex.justify-between.items-center.p-5.pl-8.pr-8.cursor-pointer.select-none
            %span.text-grey-800.font-thin.text-xl
              Massa vitae tortor condimentum lacinia quis vel eros donec
            .rounded-full.border.border-grey-400.w-7.h-7.flex.items-center.justify-center
              / icon by feathericons.com
              %svg{"aria-hidden" => "true", "data-reactid" => "266", :fill => "none", :height => "24", :stroke => "#606F7B", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
                %polyline{:points => "6 9 12 15 18 9"}
          %div.hidden.tester
            .pl-8.pr-8.pb-5.text-grey-800
              %ul.pl-4
                %li.pb-2
                  consectetur adipiscing elit
                %li.pb-2
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                %li.pb-2
                  Viverra orci sagittis eu volutpat odio facilisis mauris
      %article.border-b{data: { target: "accordion.item" }}
        .border-l-2.bg-grey-lightest.border-indigo-500
          %header.flex.justify-between.items-center.p-5.pl-8.pr-8.cursor-pointer.select-none
            %span.text-indigo-500.font-thin.text-xl
              Lorem ipsum dolor sit amet
            .rounded-full.border.border.border-indigo-500.w-7.h-7.flex.items-center.justify-center.bg-indigo
              / icon by feathericons.com
              %svg{"aria-hidden" => "true", "data-reactid" => "281", :fill => "none", :height => "24", :stroke => "white", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
                %polyline{:points => "18 15 12 9 6 15"}
          %div.hidden
            .pl-8.pr-8.pb-5.text-grey-800
              %ul.pl-4
                %li.pb-2
                  consectetur adipiscing elit
                %li.pb-2
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                %li.pb-2
                  Viverra orci sagittis eu volutpat odio facilisis mauris
      %article.border-b{data: { target: "accordion.item" }}
        .border-l-2.border-transparent
          %header.flex.justify-between.items-center.p-5.pl-8.pr-8.cursor-pointer.select-none
            %span.text-grey-800.font-thin.text-xl
              Lorem dolor sed viverra ipsum
            .rounded-full.border.border-grey-400.w-7.h-7.flex.items-center.justify-center
              / icon by feathericons.com
              %svg{"aria-hidden" => "true", "data-reactid" => "266", :fill => "none", :height => "24", :stroke => "#606F7B", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
                %polyline{:points => "6 9 12 15 18 9"}
      %article.border-b{data: { target: "accordion.item" }}
        .border-l-2.border-transparent
          %header.flex.justify-between.items-center.p-5.pl-8.pr-8.cursor-pointer.select-none
            %span.text-grey-800.font-thin.text-xl
              Egestas sed tempus urna
            .rounded-full.border.border-grey-400.w-7.h-7.flex.items-center.justify-center
              / icon by feathericons.com
              %svg{"aria-hidden" => "true", "data-reactid" => "266", :fill => "none", :height => "24", :stroke => "#606F7B", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
                %polyline{:points => "6 9 12 15 18 9"}
