.flex.w-full.pantene-background.flex-col.justify-center.h-screen.pt-16.items-center
  %image{ src: "https://ik.imagekit.io/nhrknfxy8/icon-white_RkisiFqRH.svg", width: 150 }
  .mt-8.text-center.px-12.w-full{ class: "md:w-1/2 lg:w-1/3"}
    %h1.text-2xl.md:text-2xl.typewriter="Something went wrong on our side"
    %p.text-base="The world ain't all sunshine & rainbows. Please contact Samantha with any queries."
