.flex.w-full.pantene-background.flex-col.justify-center
  %image#image{ src: "https://ik.imagekit.io/nhrknfxy8/icon-white_RkisiFqRH.svg" }
  .mt-8
    %h1="Are you using your personal link?"
    %p="We could not find what you were looking for. Please make sure that you always use the personal link we sent you. Please contact Samantha with any queries."
