@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


%fill-parent {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

%clear-spacing {
  padding: 0;
  margin: 0;
}

%clear-focus {
  outline-color: 0;
  outline-style: none;
  outline-width: 0;
}

%clear-selection {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'AmericanTypewriter';
  src: url('../fonts/AmericanTypewriter-Semibold.ttf');
  font-weight: 400;
};

.typewriter {
  font-family: 'AmericanTypewriter';
}

#clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;

  > div {
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
  }

  div > span {
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
  }
}

.smalltext {
  padding-top: 5px;
  font-size: 16px;
}


.expanda {
  &--panel{
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

  }
}




.polaroid-images {
  -webkit-transition: all 5.5s ease-in-out;
  -moz-transition: all 5.5s ease-in-out;
  transition: all 5.5s ease-in-out;
  .polaroid-image-item {
    background: white;
    // display: inline;
    float: left;
    margin: 0 15px 30px;
    padding: 10px 10px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    z-index: 0;
    position: relative;
    height: 300px;
    width: 100%;
    -webkit-transition: all 5.5s ease-in-out;
    -moz-transition: all 5.5s ease-in-out;
    transition: all 0.7s ease-in-out;
    > img {
      display: block;
      width: inherit;
      height: 200px;
    }
  }
}

// .polaroid-images a:after {
//   color: #333;
//   font-size: 20px;
//   content: attr(title);
//   position: relative;
//   top:15px;
// }

.pantene-background {
  background-color: #eabeb0;
}

.polaroid-images img {
  display: block;
  width: inherit;
}

.polaroid-images div:nth-child(2n)
{
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
}
.polaroid-images div:nth-child(3n) {
    -webkit-transform: rotate(-24deg);
    -moz-transform: rotate(-24deg);
    transform: rotate(-24deg);
}
.polaroid-images div:nth-child(4n)
{
    -webkit-transform: rotate(14deg);
    -moz-transform: rotate(14deg);
    transform: rotate(14deg);
}
.polaroid-images div:nth-child(5n)
{
    -webkit-transform: rotate(-18deg);
    -moz-transform: rotate(-18deg);
    transform: rotate(-18deg);
}

#cover-layer{
  background-color: rgba(45, 55, 72, 0.75);
}


.navbar {
  @apply w-full p-4 bg-transparent bottom-0 z-50 absolute z-50;
  transition: background-color 350ms ease-in-out;
  transition: position 350ms ease-in-out;
  #white-icon {
    display: block;
  }
  #dark-icon {
    display: none;
  }

  .link {
    @apply tracking-wider text-base py-3 mr-8 text-white;
  }

  &.white-navbar {
    @apply bg-white top-0 z-50 fixed opacity-100 shadow bottom-auto;
    .link {
      @apply text-gray-800;
    }
    #white-icon {
      display: none;
    }
    #dark-icon {
      display: block;
    }
  }
}


.section {
  @apply w-full flex flex-col pb-24;
  @media(min-width: theme('screens.lg')) {
    @apply pb-32;
  }
  &--heading {
    @apply w-full pt-24 pb-8 text-2xl text-center px-8 leading-6;
    &.has-explainer {
      @apply pb-4;
    }
    &.white {
      @apply text-white;
    }
    @extend .typewriter;
    @media(min-width: theme('screens.md')) {
      @apply text-3xl;
    }
    @media(min-width: theme('screens.lg')) {
      @apply text-4xl pt-32;
    }
  };
  &--explainer {
    @apply text-base leading-7 text-gray-500 text-center pb-4 self-center w-11/12;
    @media(min-width: theme('screens.md')) {
      @apply w-3/5;
    }
    @media(min-width: theme('screens.lg')) {
      @apply w-1/2;
    }
  }
  &--content {
    @apply w-full flex flex-col justify-center items-center;
  }
}


.accordion{
  .accordion--header {
    @apply flex justify-between items-center p-5 pl-8 pr-8 cursor-pointer select-none;
    > span {
      @apply text-gray-600 font-normal text-base leading-6;
      @media(min-width: theme('screens.md')) {
        @apply text-lg;
      }
      @media(min-width: theme('screens.lg')) {
        @apply text-xl;
      }
    }
  }
  .accordion-panel {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

// %header.flex.justify-between.items-center.p-5.pl-8.pr-8.cursor-pointer.select-none
//                 %span.text-gray-600.font-normal.text-xl= question.question

.slideshow {
  max-width: 800px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  border: thin solid red;
  display: flex;

  &--item {
    border: thin solid blue;
    height: 200px;
    width: 200px;
    @apply flex-grow-0 flex-shrink-0;
    // position: absolute;
    // top: 0;
    // left: 0;
    background-size: cover;
    // height: 100%;
    transform: translate3d(0, 0, 0);
    // opacity: 0;
    // transition: opacity 0.5s ease-out;
    // background-position: 0 -200px;
    animation: moveSlideshow 1s linear infinite;
  }

  // .mover-1 {
  //   animation: moveSlideshow 12s linear infinite;
  // }

  // .mover-2 {
  // }

  // &:hover .mover-2 {
  //   opacity: 1;
  // }
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-20.6666%);
  }
}




.tech-slideshow {
  height: 200px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  border: thin solid red;
}

.tech-slideshow > div {
  height: 200px;
  width: 2526px;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/collage.jpg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 12s linear infinite;
}
.tech-slideshow .mover-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 15s linear infinite;
}
.tech-slideshow:hover .mover-2 {
  opacity: 1;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}


@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

// $animationSpeed: 40s;
// $numberOfImages: 24;
// $polaroidWidth: 400;
// $polaroidHeight: 250;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	10% { transform: translateX(calc(-420px * 2.4)); }
	20% { transform: translateX(calc(-420px * 4.8)); }
	30% { transform: translateX(calc(-420px * 7.2)); }
	40% { transform: translateX(calc(-420px * 9.6)); }
	50% { transform: translateX(calc(-420px * 12)); }
	60% { transform: translateX(calc(-420px * 14.4)); }
	70% { transform: translateX(calc(-420px * 16.8)); }
	80% { transform: translateX(calc(-420px * 19.2)); }
	90% { transform: translateX(calc(-420px * 21.6)); }
	100% { transform: translateX(calc(-420px * 24)); }
}

@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));

  @return $randomNum;
}


// Styling
.slider {
	@apply bg-transparent;
	// box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: auto;
	margin: auto;
	overflow:hidden;
	position: relative;
  // width: 960px;
  @apply w-full;

	&::before,
	&::after {
		// @include white-gradient;
		content: "";
		height: auto;
		position: absolute;
		width: 420px;
		z-index: 2;
	}

	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}

	.slide-track {
		animation: scroll 140s linear infinite;
		display: flex;
    width: calc((420px * 24);
    height: auto;
    @apply py-24;
	}

	.slide {
    @apply bg-white pt-4 px-4 pb-16 shadow mx-4;
		height: 420px;
    width: 420px;
    @for $i from 1 through 24 {
      &:nth-child(#{$i}) {
        // background: hsl($i*10.2, 80, 50.7);
        // animation: spin random(20)+s infinite;
        -webkit-transform: rotate(#{randomNum(24, -24)}deg);
        -moz-transform: rotate(#{randomNum(24, -24)}deg);
        transform: rotate(#{randomNum(24, -24)}deg);
      }
    }
    .slide--image {
      width: 100%;
      height: 100%;
      @apply border border-white;
      background-repeat: no-repeat;
      background-size: cover;
    }
	}
}
