@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


%fill-parent {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

%clear-spacing {
  padding: 0;
  margin: 0;
}

%clear-focus {
  outline-color: 0;
  outline-style: none;
  outline-width: 0;
}

%clear-selection {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'AmericanTypewriter';
  src: url('../fonts/AmericanTypewriter-Semibold.ttf');
  font-weight: 400;
};

.typewriter {
  font-family: 'AmericanTypewriter';
}

.pantene-background {
  background-color: #eabeb0;
}

.countdown {
  @apply flex;
  &--item {
    @apply flex flex-col m-1 justify-center items-center;
    @media(min-width: theme('screens.md')) {
      @apply m-3;
    }
  }
  .item {
    &--counter{
      @apply flex bg-teal-100 rounded px-2 pt-2 pb-4 justify-center items-center shadow;
      &-inner {
        @apply flex bg-teal-300 rounded p-3 justify-center items-center text-xl text-white font-bold;
      }
    }
    &--sub-text{
      @apply w-full m-2 text-xs text-center;
    }
  }
}

.expanda {
  &--panel{
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

  }
}


#cover-layer{
  background-color: rgba(45, 55, 72, 0.75);
}


.navbar {
  @apply w-full p-4 bg-transparent bottom-0 z-50 absolute z-50;
  transition: all 350ms ease-in-out;
  #white-icon {
    display: block;
  }
  #dark-icon {
    display: none;
  }

  .link {
    @apply tracking-wider text-base p-2 mr-4 text-white;
    &:hover {
      @apply text-gray-800 rounded bg-white;
    }
  }

  &.white-navbar {
    @apply bg-white top-0 z-50 fixed opacity-100 shadow bottom-auto;
    .link {
      @apply text-gray-800;
      &:hover {
        @apply text-gray-800 rounded bg-blue-100;
      }
    }
    #white-icon {
      display: none;
    }
    #dark-icon {
      display: block;
    }
  }
}



.section {
  @apply w-full flex flex-col pb-24;
  @media(min-width: theme('screens.lg')) {
    @apply pb-32;
  }
  &--heading {
    @apply w-full pt-24 pb-8 text-2xl text-center px-8 leading-6;
    &.has-explainer {
      @apply pb-4;
    }
    &.white {
      @apply text-white;
    }
    @extend .typewriter;
    @media(min-width: theme('screens.md')) {
      @apply text-3xl;
    }
    @media(min-width: theme('screens.lg')) {
      @apply text-4xl pt-32;
    }
  };
  &--explainer {
    @apply text-base leading-7 text-gray-500 text-center pb-4 self-center w-11/12;
    @media(min-width: theme('screens.md')) {
      @apply w-3/5;
    }
    @media(min-width: theme('screens.lg')) {
      @apply w-1/2;
    }
  }
  &--content {
    @apply w-full flex flex-col justify-center items-center;
  }
}


.accordion{
  .accordion--header {
    @apply flex justify-between items-center p-5 pl-8 pr-8 cursor-pointer select-none;
    > span {
      @apply text-gray-600 font-normal text-base leading-6;
      @media(min-width: theme('screens.md')) {
        @apply text-lg;
      }
      @media(min-width: theme('screens.lg')) {
        @apply text-xl;
      }
    }
  }
  .accordion-panel {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

.leaflet-container{
  a {
    color: #63b3ed !important;
    font-weight: 700 !important;
    &:hover {
      // @apply text-blue-800 !important ;
      color: #2c5282 !important;
    }
  }
}



@keyframes slideshow {
  0% {transform: translateX(0);}
  100% {transform: translateX(-100%);}
}

@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));

  @return $randomNum;
}


%gradientBlur {
  height: 500px;
  width: 70px;
  position: absolute;
  content: "";
  background: linear-gradient(to right, #eabeb0 0%, rgba(255,255,255,0) 100%);
  z-index: 2;
}

.image-ticker {
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;

  &--track {
    width: 100vw;
    height: 500px;
    position: relative;
    display: flex;
    overflow: hidden;

    &::before {
      @extend %gradientBlur;
      left: 0;
      top: 0;
    }

    &::after {
      @extend %gradientBlur;
      right:0;
      top:0;
      transform: rotateZ(180deg);
    }
  }

  &--slide {
    height: auto;
    display: flex;
    align-items: center;
    animation: slideshow 60s linear infinite;
    animation-play-state: running;
    cursor: pointer;
    &.paused {
      animation-play-state: paused;
    }
    &-item {
      @apply bg-white shadow pt-3 px-3 pb-10;
      height: 300px;
      width: 300px;
      @for $i from 1 through 24 {
        &:nth-child(#{$i}) {
          z-index: randomNum(1, 20);
          -webkit-transform: rotate(#{randomNum(36, -36)}deg);
          -moz-transform: rotate(#{randomNum(36, -36)}deg);
          transform: rotate(#{randomNum(36, -36)}deg);
        }
      }
      .polaroid-image {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
      }

    }
  }
}


.ghost-button {
  @apply text-blue-400 text-sm font-medium cursor-pointer px-2 py-1 rounded;
  &:hover {
    @apply text-blue-700 bg-blue-200;
  }
}
