-# Blocks
.p-40.flex.justify-center#about-us
  %div{ class: "w-2/3 flex rounded-md overflow-hidden flex-wrap "}
    %div{ class: "w-1/2 flex-shrink-0 "}
      = image_tag 'https://placekitten.com/400/400', class: "w-full"
    %div{ class: "w-1/2 flex-shrink-0 p-4 bg-gray-100 flex flex-col justify-center"}
      %h1.text-xl="The Groom"
      %p
        Brian Ketelsen was born in Iowa, but spent most of his childhood in Wyoming. He served in the US Army as a M2 Bradley gunner, then attended college in Wyoming, later attending Harvard. He currently works at Microsoft.
    %div{ class: "w-1/2 flex-shrink-0 p-4 bg-gray-100 flex flex-col justify-center"}
      %h1.text-xl="The Groom"
      %p
        Brian Ketelsen was born in Iowa, but spent most of his childhood in Wyoming. He served in the US Army as a M2 Bradley gunner, then attended college in Wyoming, later attending Harvard. He currently works at Microsoft.
    %div{ class: "w-1/2 flex-shrink-0 "}
      = image_tag 'https://placekitten.com/400/400', class: "w-full"
