-# Cover
#cover.flex.justify-center.items-center.w-full.bg-no-repeat.bg-cover.relative.z-40{ data: { controller: "image"}}
  .layer.absolute.w-full.h-full.top-0.left-0#cover-layer
  = render partial: "home/partials/navbar"
-# .w-full.py-12.flex.justify-center.bg-gray-200
-#   = image_tag "icon.png"
