-# Cover
#cover.flex.justify-center.items-center.w-full.bg-no-repeat.bg-cover.relative.z-40{ data: { controller: "cover"}}
  .layer.absolute.w-full.h-full.top-0.left-0#cover-layer
  = render partial: "home/partials/navbar"
  #date-banner-small
    = image_tag "https://ik.imagekit.io/nhrknfxy8/icon-gray_h2xYg9bWb.svg", style: "width:35px;"
    %span="2 May 2020"
