-# Cover
.flex.justify-center.items-center.w-full.h-screen.bg-no-repeat.bg-cover.relative.z-40{ style: "background-image: url(#{image_url 'cover.JPG'})"}
  .layer.absolute.w-full.h-screen.top-0.left-0#cover-layer
  -# %h1.text-6xl.font-bold.text-white="Hermann & Samantha"
  -# .z-50
  -#   = image_tag "tester.png"

-# TODO: Add Date
-# TODO: Replace with correct image
-# TODO: Compress image & place in cdn. Perhaps lazy load?
