-# Cover
.flex.justify-center.items-center.w-full.h-screen.bg-no-repeat.bg-cover{ style: "background-image: url('https://placekitten.com/1200/800')"}
  %h1.text-6xl.font-bold.text-white="Hermann & Samantha"
