.w-full.py-12.flex.justify-center.bg-gray-900.flex-col.items-center
  = image_tag "https://ik.imagekit.io/nhrknfxy8/icon-white_RkisiFqRH.svg", style: "width:150px;"
  .text-3xl.text-gray-700.mt-6.typewriter.tracking-widest.font-light="#hermantha2020"
