-# Gallery

:ruby
  data = [
    image_path("polaroids/1.jpg"),
    image_path("polaroids/2.jpg"),
    image_path("polaroids/3.jpg"),
    image_path("polaroids/4.jpg"),
    image_path("polaroids/7.jpg"),
    image_path("polaroids/8.jpg")
  ]

.pswp{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .pswp__bg
  .pswp__scroll-wrap
    .pswp__container
      .pswp__item
      .pswp__item
      .pswp__item
    .pswp__ui.pswp__ui--hidden
      .pswp__top-bar
        .pswp__counter
        %button.pswp__button.pswp__button--close{:title => "Close (Esc)"}
        %button.pswp__button.pswp__button--fs{:title => "Toggle fullscreen"}
        %button.pswp__button.pswp__button--zoom{:title => "Zoom in/out"}
        .pswp__preloader
          .pswp__preloader__icn
            .pswp__preloader__cut
              .pswp__preloader__donut
      .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
        .pswp__share-tooltip
      %button.pswp__button.pswp__button--arrow--left{:title => "Previous (arrow left)"}
      %button.pswp__button.pswp__button--arrow--right{:title => "Next (arrow right)"}
      .pswp__caption
        .pswp__caption__center

.section#memories.pantene-background
  .section--heading.white="Our Memories"
  .section--content
    .image-ticker{ data: { controller: "ticker lightbox", lightbox_images: data }}
      .image-ticker--track{ data: { target: "ticker.track" }}
        .image-ticker--slide{ data: { target: "ticker.slide" }}
          - data.each do |image|
            .image-ticker--slide-item{ data: { target: "ticker.item", action: "mouseover->ticker#mouseOver mouseout->ticker#mouseOut click->lightbox#openGallery" }}
              .polaroid-image{ style: "background-image: url('#{image}')" }
        .image-ticker--slide{ data: { target: "ticker.slide" }}
          - data.each do |image|
            .image-ticker--slide-item{ data: { target: "ticker.item", action: "mouseover->ticker#mouseOver mouseout->ticker#mouseOut click->lightbox#openGallery" }}
              .polaroid-image{ style: "background-image: url('#{image}')" }
