-# Gallery

:ruby
  data = [
    "https://ik.imagekit.io/nhrknfxy8/polaroid/polaroid-000__LQvfLYwOx.jpg",
    "https://ik.imagekit.io/nhrknfxy8/polaroid/polaroid-001_-HymehCnw.jpg",
    "https://ik.imagekit.io/nhrknfxy8/polaroid/polaroid-002_zNhQbOria.jpg",
    "https://ik.imagekit.io/nhrknfxy8/polaroid/polaroid-003_3d3L8apoP1.jpg",
    "https://ik.imagekit.io/nhrknfxy8/polaroid/polaroid-004_OSKHWffpD.jpg",
    "https://ik.imagekit.io/nhrknfxy8/polaroid/polaroid-005_5Wt-w2cO8.jpg",
    "https://ik.imagekit.io/nhrknfxy8/polaroid/polaroid-006__oKMbh0qZS.jpg",
    "https://ik.imagekit.io/nhrknfxy8/polaroid/polaroid-008_s-oYzgBOEn.jpg",
    "https://ik.imagekit.io/nhrknfxy8/polaroid/polaroid-009_iVDquWuf1cG.jpg",
    "https://ik.imagekit.io/nhrknfxy8/polaroid/polaroid-010_LejidEzuu.jpg",
    "https://ik.imagekit.io/nhrknfxy8/polaroid/polaroid-011_Q1MpQs4AG.jpg",
    "https://ik.imagekit.io/nhrknfxy8/polaroid/polaroid-012_H8EyCaVXL.jpg",
    "https://ik.imagekit.io/nhrknfxy8/polaroid/polaroid-013_izQGa0UhqM.jpg",
    "https://ik.imagekit.io/nhrknfxy8/polaroid/polaroid-014_bl_kPxWIVt.jpg",
    "https://ik.imagekit.io/nhrknfxy8/polaroid/polaroid-015_bSI8BusgKX.jpg",
    "https://ik.imagekit.io/nhrknfxy8/polaroid/polaroid-016_weQ2awiUU.jpg",
    "https://ik.imagekit.io/nhrknfxy8/polaroid/polaroid-017_l2Kg6bCFH.jpg",
    "https://ik.imagekit.io/nhrknfxy8/polaroid/polaroid-018_heLLzwmVo8.jpg",
    "https://ik.imagekit.io/nhrknfxy8/polaroid/polaroid-019_v_4RMHYh9F.jpg",

  ]

.pswp{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .pswp__bg
  .pswp__scroll-wrap
    .pswp__container
      .pswp__item
      .pswp__item
      .pswp__item
    .pswp__ui.pswp__ui--hidden
      .pswp__top-bar
        .pswp__counter
        %button.pswp__button.pswp__button--close{:title => "Close (Esc)"}
        %button.pswp__button.pswp__button--fs{:title => "Toggle fullscreen"}
        %button.pswp__button.pswp__button--zoom{:title => "Zoom in/out"}
        .pswp__preloader
          .pswp__preloader__icn
            .pswp__preloader__cut
              .pswp__preloader__donut
      .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
        .pswp__share-tooltip
      %button.pswp__button.pswp__button--arrow--left{:title => "Previous (arrow left)"}
      %button.pswp__button.pswp__button--arrow--right{:title => "Next (arrow right)"}
      .pswp__caption
        .pswp__caption__center

.section#memories.pantene-background
  .section--heading.white="Our Memories"
  .section--content
    .image-ticker{ data: { controller: "ticker lightbox", lightbox_images: data }}
      .image-ticker--track{ data: { target: "ticker.track" }}
        .image-ticker--slide{ data: { target: "ticker.slide" }}
          - data.each do |image|
            .image-ticker--slide-item{ data: { target: "ticker.item", action: "mouseover->ticker#mouseOver mouseout->ticker#mouseOut click->lightbox#openGallery" }}
              .polaroid-image{ style: "background-image: url('#{image}')" }
        .image-ticker--slide{ data: { target: "ticker.slide" }}
          - data.each do |image|
            .image-ticker--slide-item{ data: { target: "ticker.item", action: "mouseover->ticker#mouseOver mouseout->ticker#mouseOut click->lightbox#openGallery" }}
              .polaroid-image{ style: "background-image: url('#{image}')" }
