-# Gallery

:ruby
  data = [
    image_path("polaroids/1.jpg"),
    image_path("polaroids/2.jpg"),
    image_path("polaroids/3.jpg"),
    image_path("polaroids/4.jpg"),
    image_path("polaroids/7.jpg"),
    image_path("polaroids/8.jpg")
  ]

.section#memories.pantene-background
  .section--heading.white="Our Memories"
  .section--content
    .image-ticker{ data: { controller: "ticker" }}
      .image-ticker--track{ data: { target: "ticker.track" }}
        .image-ticker--slide{ data: { target: "ticker.slide" }}
          - data.each do |image|
            .image-ticker--slide-item{ data: { target: "ticker.item", action: "mouseover->ticker#mouseOver mouseout->ticker#mouseOut" }}
              .polaroid-image{ style: "background-image: url('#{image}')" }
        .image-ticker--slide{ data: { target: "ticker.slide" }}
          - data.each do |image|
            .image-ticker--slide-item{ data: { target: "ticker.item", action: "mouseover->ticker#mouseOver mouseout->ticker#mouseOut" }}
              .polaroid-image{ style: "background-image: url('#{image}')" }
