.section#invitations
  .section--heading="Your invitation"
  .section--content
    .flex.flex-col{ class: "w-11/12 md:w-2/3 lg:w-3/5"}
      - @group.members.each do |member|
        .w-full
          %div{ class: "border border-gray-300 bg-white rounded flex flex-col justify-between leading-normal my-4"}
            .px-4.pt-4.pb-2
              %div{ class: "text-gray-800 font-semibold text-lg p-2 rounded w-full text-center"}= member.full_name
            .px-4.pt-2.pb-4{ id: "invitation-actions-#{member.token}" }
              = render partial: "home/invitations/invitation_actions", locals: { member: member }
