-# Navbar
%nav.w-full.p-4.bg-gray-800.bottom-0.z-50.absolute.opacity-25.shadow#navbar{ data: { controller: "navbar"}}
  .hidden{ data: { "target": "navbar.initialOffset"}}
  .mb-px.flex.justify-center
    %a.no-underline.text-teal-dark.border-b-2.border-teal-dark.uppercase.tracking-wide.font-bold.text-xs.py-3.mr-8{:href => "#"}
      Home
    %a.no-underline.text-grey-dark.border-b-2.border-transparent.uppercase.tracking-wide.font-bold.text-xs.py-3.mr-8{:href => "#"}
      Products
    %a.no-underline.text-grey-dark.border-b-2.border-transparent.uppercase.tracking-wide.font-bold.text-xs.py-3.mr-8{:href => "#"}
      Discounts
    %a.no-underline.text-grey-dark.border-b-2.border-transparent.uppercase.tracking-wide.font-bold.text-xs.py-3{:href => "#"}
      Customers
