-# Party Manager
.w-full.flex.py-20.bg-gray-100.justify-center#rsvp
  %div{ class: "flex flex-col w-2/3"}
    .flex.w-full.pt-2.pb-12.justify-center.flex-col.items-center
      %h2.text-4xl.font-bold="Your party"
      - @group.members.each do |member|
        .w-full.my-8{ id: "party-member-#{member.token}" }
          = render partial: "home/partials/_party_manager/item", locals: { member: member }
