.w-full.flex.py-20.justify-center#pretty_text
  %div{ class: "flex flex-col w-2/3"}
    .flex.w-full.pt-2.pb-12.justify-center.flex-col.text-center
      %h2.text-4xl.font-bold="I am pretty text"
      .py-12
        %p
          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
        %p
          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
        %p
          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
