-# Song Request
-# TODO: Integrate with Spotify Search api using stimulus/react. Does API have afrikaans music?
.p-40.flex.justify-center.bg-pink-100
  %div{ class: "w-2/3 flex rounded-md overflow-hidden flex-wrap "}
    %h1="Song Request"

-# TODO: Setup Song request model that maps to %Group::Member
-# TODO: Setup Song request controller

