-# Video
-# TODO: Replace with right URL
-# TODO: Investigat better video player. Full screen?
.w-full.p-4.flex.justify-center.py-40
  = get_video_iframe("https://www.youtube.com/watch?v=vDiFSzQEMOs")
